// File fields
//
//////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////

.js-browse input[type="file"] {
	display: none;
}

.wkm-file-wrapper--preview {
	$size: 15rem;

	width: $size;
	height: $size;
	background: grey(90);
	position: relative;
	text-align: center;
	border-radius: 0.5em;

	.wkm-file-wrapper {
		margin-top: $size - 5rem;
		display: inline-block;
	}
}